<table>
	<tr>
		<td>
			<span>Nombre</span>
		</td>	
		<td>
			<span><%= nombre %></span>
		</td>
	</tr>
	<tr>
		<span>Foto:</span>
	</tr>
	<tr>
		<img src="<%= srcImagen %>">
	</tr>
	<tr>
		<a href="/">Volver a inicio</a>
	</tr>
</table>