<table border="1">
	<tr>
		<td>
			<span style="" >Nombre:</span>
		</td>	
		<td>
			<span><%= nombre %></span>
		</td>
	</tr>
	<tr>
		<td align="bottom">
			<span>Foto:</span>
		</td>
		<td>
			<img src="<%= srcImagen %>" top="120px" width="100px">
		</td>
	</tr>
	<tr >
		<td colspan="2"><a href="/">Volver a inicio</a></td>
	</tr>
</table>